<body class="d-flex">
  {{>sidebar}}
  <div class="container p-5 create">
    <h1 class="mb-5">Create New Note</h1>
    <form id="noteForm" action="/notes/create" method="POST">
      <div class="mb-3">
        <label for="exampleInputTitle" class="form-label">Note Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id="exampleInputTitle"
          aria-describedby="titleHelp"
          maxlength="30"
          style="width:400px"
        />
        <small id="titleHelp" class="form-text text-muted">Please enter a short
          title.</small>
      </div>
      <div class="mb-3">
        <label for="exampleInputContent" class="form-label">Note Content</label>
        <textarea
          name="content"
          class="form-control resizable-textarea"
          id="exampleInputContent"
          rows="5"
          style="width:600px;"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-color text-white">Save Note</button>
    </form>
  </div>

  <script>
    function adjustTextAreaHeight(textarea) {
      textarea.style.height = "auto";
      textarea.style.height = textarea.scrollHeight + "px";
    }
    const resizableTextAreas = document.querySelectorAll('.resizable-textarea');

    resizableTextAreas.forEach(textarea => {
      textarea.addEventListener('input', function () {
        adjustTextAreaHeight(this);
      });

      textarea.addEventListener('mousedown', function (event) {
        if (event.target === this && event.offsetX > this.clientWidth) {
          event.preventDefault();
          this.mouseDown = true;
          this.startX = event.clientX;
          this.startWidth = this.clientWidth;
          this.addEventListener('mousemove', this.resizeTextArea);
          this.addEventListener('mouseup', () => {
            this.mouseDown = false;
            this.removeEventListener('mousemove', this.resizeTextArea);
          });
        }
      });

      textarea.resizeTextArea = function (event) {
        if (this.mouseDown) {
          const newWidth = this.startWidth + (event.clientX - this.startX);
          if (newWidth > this.offsetWidth) {
            this.style.width = newWidth + 'px';
          }
        }
      };

      textarea.addEventListener('mouseleave', function () {
        this.mouseDown = false;
      });
    });
  </script>
</body>
