<body class="container-fluid px-0 home color-primary">
  <nav class="navbar navbar-expand-lg nav-bg color-primary">
    <div class="container-fluid">
      <a
        class="navbar-brand fs-3 text-light ps-4 fw-bold"
        href="/"
      >Notespace</a>
      <div class="d-flex justify-content-start">
        <ul
          class="d-flex justify-content-start align-items-center gap-3 mb-0 ps-3 fw-bold"
          style="padding-left: 15px; padding-right: 15px;"
        >
          <li class="nav-item"><a
              href="/login"
              class="nav-link text-light fs-5"
            >Log in</a></li>
          <li class="nav-item"><a
              href="/signup"
              class="nav-link text-light fs-5"
            >Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="hero-bg">
    <div
      class="hero-content d-flex align-items-center justify-content-center flex-column"
    >
      <h1 class="display-5 fw-bold text-white">Your Personal Web Diary</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-white">A place to write and save your thoughts,
          ideas, and notes securely.</p>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/signup">
          <button
            type="button"
            class="btn color-primary btn-lg px-4 gap-3 text-white"
          >Get Started</button></a>
      </div>
    </div>
  </div>

</body>