<body class="text-center bg-success h-100 d-flex align-items-center justify-content-center">
    
    <main role="main" class="inner cover text-light">
      <h1 class="cover-heading">Diary</h1>
      <p class="lead">In which you can write as many notes as you would like
        to!
      </p>
      <br>
      <p class="lead">
        <a href="/register" class="btn btn-lg bg-light">Sign up</a>
        <a href="/login" class="btn btn-lg bg-light">Login</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
    </footer>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>

</body>