<body class="d-flex">
  {{>sidebar email=email search=search }}
  <div class="container py-3 notes">
    <div class="row g-3">
      {{#each notes}}
        {{>noteTemplate}}
      {{/each}}
    </div>
  </div>
</body>